<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.demo.mapper.credential.CredentialMapper">
	
	<resultMap id = "customer" type = "Customer">
		<result property = "status" column = "status" javaType = "com.demo.constant.UserStatus" jdbcType = "INTEGER"
			typeHandler = "org.apache.ibatis.type.EnumOrdinalTypeHandler"></result>
	</resultMap>
	
	<select id="findByEmailAndStore" resultType="Customer" resultMap = "customer">
		<![CDATA[
		SELECT
			EMAIL,
			FIRSTNAME,
			LASTNAME,
			PASSWORD,
			STORE_NAME,
			ORG_NAME,
			NEWS_SUBSCRIBE,
			ACTIVE_YN,
			ACCOUNT_LOCK_YN,
			FIRST_FAILURE,
			FAILURES_NUM,
			LOCK_EXPIRES,
			STATUS,
			RP_TOKEN,
			RP_TOKEN_CREATED_AT
		  FROM
		  	CUSTOMER
		 WHERE EMAIL = #{email}
		 	 AND STORE_NAME = #{storeName}
		]]>
	</select> 
	 
	<update id="updateAccountLock" parameterType="Customer">
		<![CDATA[
		UPDATE CUSTOMER
			SET 
				FIRST_FAILURE = #{firstFailure},
				FAILURES_NUM = #{failuresNum},
				LOCK_EXPIRES = #{lockExpires},
				ACCOUNT_LOCK_YN = #{accountLockYn}
			WHERE EMAIL = #{email}	
				AND STORE_NAME = #{storeName}	
		]]>
    </update>
    
    <update id="savePasswordResetToken">
		<![CDATA[
		UPDATE CUSTOMER
			SET 
				RP_TOKEN = #{rpToken},
				RP_TOKEN_CREATED_AT = CURRENT_TIMESTAMP
			WHERE EMAIL = #{email}		
				AND STORE_NAME = #{storeName}
		]]>
    </update>
    
     <update id="resetPassword">
		<![CDATA[
		UPDATE CUSTOMER
			SET 
				PASSWORD = #{password},
				RP_TOKEN = NULL,
				RP_TOKEN_CREATED_AT = NULL
			WHERE EMAIL = #{email}
				AND STORE_NAME = #{storeName}		
		]]>
    </update>
    
</mapper>